body {
    background-color: aqua;
    font-family: 'Alata', sans-serif;
    text-align: center;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.main{
    display: flex;
}

.input{
    display: grid;
}

img{
    width: 800px;
    height: 350px;
    object-fit: contain;

}


footer{
    font-size: small;
    position: absolute;
    margin-top: 150px;
    
}

button{
    height: 50px;
    width: 300px;
    font-size: large;
    background-color: lightgreen;
    text-align: center;
    margin-left: 80px;
    border-radius: 10px;
}

button:hover{
    opacity: 80%;
    cursor: pointer;
}